<!-- breadcrumb start -->
<div class="breadcrumb-section" style="padding: 15px 0;">
    <div class="container-home">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2 style="text-transform: none;">Privacy Policy</h2>
                </div>
            </div>
            <div class="col-sm-6">
              <!--
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/vapehan'">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About us</li>
                    </ol>
                </nav>
                -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- about section start -->
<section class="about-page  section-b-space" style="padding-top: 10px;">
    <div class="container-home">
        <div class="row">
            <div class="col-sm-12">
                <h4 style="text-align: center; margin-bottom: 15px;">Privacy Policy</h4>
                <p style="margin-bottom: 7px;">Dengan adanya Privacy Policy ini, Menyatakan bahwa Vapehan berkomitmen untuk tetap menghargai dan melindungi serta merahasiakan setiap data atau pun informasi pribadi pengguna situs website Vapehan.com.</p>
                <p style="margin-bottom: 7px;">Dengan menggunakan layanan Vapehan, pengguna menyatakan bahwa data yang di gunakan pengguna situs website vapehan.com merupakan data yang benar dan sah.
                </p>
                <h4 style="margin-bottom: 7px;">Data Pengguna</h4>
                <p style="margin-bottom: 7px;">Tujuan Vapehan mengumpulan data pengguna untuk kepentingan transaksi pengguna. Data yang akan di kumpulkan berupa sebagai Berikut: </p>
                <p style="padding-left: 15px;">1. Membuat maupun memperbarui data pengguna Vapehan, diantaranya nama pengguna (firstname dan lastname), alamat email, nomor handphone, password, alamat, dan lain - lain.</p>
                <p style="padding-left: 15px; margin-bottom: 7px;">2. Mengisi semua data pembayaran pada saat pengguna melakukan transaksi di Vapehan.</p>
                <p style="margin-bottom: 7px;">Vapehan akan tetap menyimpan informasi akun selama pengguna masih aktif dan dapat juga penghapusan data akun sesuai dengan ketentuan yang berlaku di Vapehan.</p>
                <p>Sewaktu waktu vapehan akan melakukan perubahan atau pembaruan terhadap privacy plicy ini. Di harapkan pengguna membaca secara seksama dan tetap memeriksa halaman privacy policy ini dari waktu ke waktu untuk mengetahui perubahan ataupun pembaruan yang telah di tetapkan oleh Vapehan.</p>
            </div>
        </div>
    </div>
</section>

