<div class="footer-title">
    <h4 style="text-transform: none;">Service</h4>
</div>
<div class="footer-contant">
    <ul>
        <li style="padding-top: 10px;"><a [routerLink]="['/pages/about-us']">about us</a></li>
        <li style="padding-top: 10px;"><a [routerLink]="['/pages/contact']">Contact Us</a></li>
        <li style="padding-top: 10px;"><a [routerLink]="['/pages/faq']">FAQ</a></li>
        <li style="padding-top: 10px;"><a [routerLink]="['/pages/how-to-order']">How To Order</a></li>
        <li style="padding-top: 10px;"><a [routerLink]="['/pages/privacy-policy']">Privacy Policy</a></li>
        <li style="padding-top: 10px;"><a [routerLink]="['/pages/terms-and-condition']">terms and condition</a></li>
        <li style="padding-top: 10px;"><a href="http://reqws.vapehan.com/pages/register/store">Wholesale</a></li>
       <!--<li><a [routerLink]="">contacts</a></li>-->
    </ul>
</div>
