<app-slider-eleven></app-slider-eleven>
<!--
<div class="container-home" *ngIf="successMessage">
    <div style="margin-top: 20px; max-width: 100% !important;" class="alert alert-primary" role="alert" #alertNotice>
        <div class="alert-text" [innerHTML]="pesan"></div>
    </div>
</div>
-->
<app-new-product-home (massage)="getMassage($event)"></app-new-product-home>
<app-best-product-home (massage)="getMassage($event)"></app-best-product-home>
<app-feature-product-home (massage)="getMassage($event)"></app-feature-product-home>
<app-services-eleven></app-services-eleven>
<app-logo-distributor></app-logo-distributor>
<!--<app-instagram-eleven></app-instagram-eleven>-->
<app-logo-brand></app-logo-brand>
<!--<app-newsletter></app-newsletter>-->

