<!--  logo section -->
<section class="section-b-space">
  <div class="container-home" style="padding-top: 27px;">
    <div class="row">
      <div class="col-md-12">
        <ngx-slick-carousel class="no-arrow" #slickModal="slick-carousel" [config]="logoSlideConfig">
          <div ngxSlickItem *ngFor="let lg of brand | orderBy:sortByOrder">
            <div class="logo-block">
              <a >
                <img src="{{imgUrl}}/images/brands/{{lg.image}}" height="125" width="125" alt="">
             </a>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
<!--  logo section end-->
