.home-banner {
  height: auto;
}
/*
@media (max-width: 1440px) {
  .home-banner {
    height: 66vh;
  }
}
*/
@media(min-width: 1430px) {
  .slider-home {
    margin-left: 21em;
  }
}
/*
@media (max-width: 1199px) {
  .home-banner {
    height: 50vh;
  }
}

@media (max-width: 991px) {
  .home-banner {
    height: 42vh;
  }
}

@media (max-width: 800px) {
  .home-banner {
    height: 33vh;
  }
}

@media (max-width: 767px) {
  .home-banner {
    height: 32vh;
  }
}

@media (max-width: 577px) {
  .home-banner {
    height: 24vh;
  }
}

@media (max-width: 480px) {
  .home-banner {
    height: 20vh;
  }
}

@media (max-width: 360px) {
  .home-banner {
    height: 30vh;
  }
}
*/
