<div class="dashboard-right">
  <div class="dashboard" *ngIf="customer$ | async as _customer">
      <div class="page-title">
          <h2>Change Password</h2>
      </div>
      <hr />
      <!--<app-auth-notice></app-auth-notice>-->
      <div class="box-account box-info">
        <form [formGroup]="changeForm" (ngSubmit)="onSubmit(_customer.id_customer)">

          <div>
              <div class="box">

                  <div class="row">
                      <div class="col-sm-12">
                          <label>Old Password : </label>
                       </div>
                       <div class="col-sm-12" style="padding-bottom: 13px;">
                          <show-hide-password size="md" btnStyle="primary" [btnOutline]="false">
                            <input matInput class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }" id="oldpassword" type="password" formControlName="oldpassword" required>
                          </show-hide-password>
                          <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
                              <div *ngIf="f.oldpassword.errors.required">Old Password is required</div>
                          </div>
                          <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
                              <div *ngIf="f.oldpassword.errors.minlength">Old Password must be at least 3 characters</div>
                          </div>
                       </div>
                      <div class="col-sm-12">
                         <label>New Password : </label>
                      </div>
                      <div class="col-sm-12" style="padding-bottom: 13px;">
                        <show-hide-password size="md" btnStyle="primary" [btnOutline]="false">
                         <input matInput class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" type="password" formControlName="password" required>
                        </show-hide-password>
                         <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">New Password is required</div>
                        </div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.minlength">New Password must be at least 3 characters</div>
                        </div>
                      </div>
                      <br />
                      <div class="col-sm-12">
                         <label>Confirm password :</label>
                      </div>
                      <div class="col-sm-12" style="padding-bottom: 13px;">
                        <show-hide-password size="md" btnStyle="primary" [btnOutline]="false">
                         <input matInput class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" id="confirmPassword" type="password" formControlName="confirmPassword" required>
                        </show-hide-password>
                         <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                      </div>
                  </div>

              </div>
              <br />
              <button class="btn btn-solid">Change</button>
          </div>
        </form>
      </div>
  </div>
</div>
