<div class="row main-menu" style="z-index: 1;">

  <div class="search-tool">
    <div class="container">
      <div class="row">
        <h4 style="margin-bottom: 0;">Please, Complete your profile for continue shopping</h4>
      </div>
    </div>
  </div>
  <div class="bar-tool">

    <div class="col-md-12" style="padding: 10px;">
      <div class="row">
        <button class="btn btn-profile" type="button" [attr.data-target]="'#editProfile'+customer.id" data-toggle="modal" title="Quick View">
          <span class="span-profile">Complete Profile</span>
        </button>
      </div>
    </div>

  </div>

</div>
