<!-- Quick-view modal popup start-->
<div class="modal fade bd-example-modal-lg theme-modal quickviewm" [id]="'ediAddress'+customer.id_customer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="customer">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content quick-view-modal">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <form [formGroup]="accountInfo">
          <div class="row">
            <div class="col-lg-12 col-xs-12">
              <div class="box-title">
                <h3>Edit Your Address</h3>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label>Address : </label>
                </div>
                <div class="col-lg-12">
                  <input [ngClass]="{ 'is-invalid': submitted && f.address.errors }" class="form-control" type="text" formControlName="address" required>
                  <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                      <div *ngIf="f.address.errors.required">Address is required</div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <label>Province : </label>
                </div>
                <div class="col-lg-12">
                  <select [ngClass]="{ 'is-invalid': submitted && f.province.errors }" class="form-control" formControlName="province" #mySelect (change)='onOptionsSelected(mySelect.value)' required>
                    <option selected >Select Province</option>
                    <option *ngFor="let prov of province" value="{{prov.province_id}}">{{prov.province}}</option>
                  </select>
                  <div *ngIf="submitted && f.province.errors" class="invalid-feedback">
                      <div *ngIf="f.province.errors.required">Province is required</div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <label>City : </label>
                </div>
                <div class="col-lg-12">
                  <select [ngClass]="{ 'is-invalid': submitted && f.city.errors }" class="form-control" formControlName="city" #myCity (change)='onOptionDistrict(myCity.value)' required>
                    <option value="" selected >Select City</option>
                    <option *ngFor="let city of city" value="{{city.city_id}}">{{city.city_name}} {{city.type}}</option>
                  </select>
                  <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                      <div *ngIf="f.city.errors.required">City is required</div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <label>Subdistrict : </label>
                </div>
                <div class="col-lg-12">
                  <select [ngClass]="{ 'is-invalid': submitted && f.district.errors }" class="form-control" #myDist (change)='onOptionDist(myDist.value)' formControlName="district" required>
                    <option value="" selected >Select Subdistrict</option>
                    <option *ngFor="let dist of district.result" value="{{dist.subdistrict_id}}">{{dist.subdistrict_name}}</option>
                  </select>
                  <div *ngIf="submitted && f.district.errors" class="invalid-feedback">
                      <div *ngIf="f.district.errors.required">Subdistrict is required</div>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-lg-12">
                  <label>Postal : </label>
                </div>
                <div class="col-lg-12">
                  <input class="form-control" type="text" formControlName="postal" required>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="col-lg-12 product-buttons">
                    <button (click)="submit(customer.id_customer)" class="btn btn-solid" >change</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Quick-view modal popup end-->
