<!-- Quick-view modal popup start-->
<div class="modal fade bd-example-modal-lg theme-modal quickviewm" [id]="'editContact'+_customer.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="customer$ | async as _customer">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content quick-view-modal">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <form [formGroup]="accountContact">
            <div class="row">
              <div class="col-lg-12 col-xs-12">
                <div class="box-title">
                  <h3>Contact Account</h3>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <label>Email : </label>
                  </div>
                  <div class="col-lg-12">
                    <input matInput class="form-control" type="email" formControlName="email" disabled required>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <label>Phone : </label>
                  </div>
                  <div class="col-lg-12">
                    <input matInput class="form-control" formControlName="phone" maxlength="14" (keypress)="phoneNumber($event)" type="text" maxlength="14" pattern="[0-9]" required>
                  </div>
                </div>

                <hr />
                <div class="row">
                  <div class="col-lg-12 product-buttons">
                      <a [routerLink]="" (click)="submit(_customer.id_customer)" class="btn btn-solid" >save</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Quick-view modal popup end-->
