<div class="row">
    <div class="col-xl-6 col-md-6 col-sm-12">
      <div class="footer-end">
        <p><i class="fa fa-copyright" aria-hidden="true"></i> {{today | date:'y'}} powered by HSG</p>
      </div>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12">
      <div class="payment-card-bottom">
        <ul style="transform: translate(-20px, 0);">
          <!--
          <li >
            <a [routerLink]=""><img src="./assets/images/icon/BCA.svg.webp" style="width: 40px; height: 20px;" alt=""></a>
          </li>

          <li>
            <a [routerLink]=""><img src="./assets/images/icon/bri.svg.webp" style="width: 40px; height: 20px;" alt=""></a>
          </li>
          <li>
            <a [routerLink]=""><img src="./assets/images/icon/mandiri.svg.webp" style="width: 40px; height: 20px;" alt=""></a>
          </li>
          <li>
            <a [routerLink]=""><img src="assets/images/icon/cimb.svg.webp" style="width: 40px; height: 20px;" alt=""></a>
          </li>
          <li>
            <a [routerLink]=""><img src="./assets/images/icon/ATM_Bersama.svg.webp" style="width: 40px; height: 20px;" alt=""></a>
          </li>
          <li>
            <a [routerLink]=""><img src="./assets/images/icon/indomaret.svg.webp" style="width: 40px; height: 20px;" alt=""></a>
          </li>
          <li>
            <a [routerLink]=""><img src="./assets/images/icon/ALFAMART_LOGO_BARU.svg.webp" style="width: 40px; height: 20px;" alt=""></a>
          </li>
          -->
        </ul>
      </div>
    </div>
</div>
