<!-- breadcrumb start -->
<div class="breadcrumb-section" style="padding: 15px 0;">
    <div class="container-home">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2 style="text-transform: none;">Change Password</h2>
                </div>
            </div>
            <div class="col-sm-6">
              <!--
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/vapehan'">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="'/pages/login'">login</a></li>
                        <li class="breadcrumb-item active" aria-current="page">forget password</li>
                    </ol>
                </nav>
                -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="pwd-page">
    <div class="container-home" style="padding-top: 10px; margin-bottom: 15px;">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2 style="text-transform: none;">Change Password</h2>
                <app-auth-notice></app-auth-notice>
                <form class="theme-form" [formGroup]="forgetForm" (ngSubmit)="onSubmit()" autocomplete="off">
                    <div class="form-row">

                      <div class="col-sm-12">
                          <label>New Password : </label>
                      </div>
                      <div class="col-sm-12">
                        <show-hide-password size="md" btnStyle="primary" [btnOutline]="false">
                          <input matInput class="form-control" style="margin-bottom: 0;" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" type="password" formControlName="password" required>
                        </show-hide-password>
                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">New Password is required</div>
                        </div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.minlength">New Password must be at least 3 characters</div>
                        </div>
                      </div>
                      <br />
                      <div class="col-sm-12">
                          <label>Confirm password :</label>
                      </div>
                      <div class="col-sm-12">
                        <show-hide-password size="md" btnStyle="primary" [btnOutline]="false">
                          <input matInput class="form-control" style="margin-bottom: 0;" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" id="confirmPassword" type="password" formControlName="confirmPassword" required>
                        </show-hide-password>
                          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                      </div>
                      <div class="col-sm-12" style="margin-top: 10px;">
                          <button class="btn btn-solid">Submit</button>
                      </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->
