
<!-- Quick-view modal popup start-->
<div #payment class="modal fade bd-example-modal-lg theme-modal quickviewm" [id]="'payment'+1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="max-width: 580px;">
    <div class="modal-content quick-view-modal" style="border-radius: 0.7rem;">
      <div class="modal-body payment-popup" style="padding: 0;">
        <div style="width: 100%; height: 100%;">
          <nav class="navbar-container vp-navbar-container ">
            <div class="navbar-wrapper vp-23a2ic5">
              <div class="css-vp0001">
                <div class="css-vp23n2" (click)="close()"></div>
                <div class="css-vp0023">
                  <h1 class="css-vp214xz">Pembayaran</h1>
                </div>
              </div>
            </div>
          </nav>
          <iframe *ngIf="akses" #payment [src]="urlSafe" id="iframe-id" name="payment" width="100%" height="100%" style="border: none; width: 100%; height: 100%;"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Quick-view modal popup end-->
