<!-- service layout -->
<div class="container-home">
    <section class="service border-section small-section ">
        <div class="row">
            <div class="col-md-4 service-block">
                <div class="media" style="cursor: pointer;">
                  <img src="{{imgUrl}}/images/Banner-service1.png" class="shipping" alt="">
                </div>
            </div>
            <div class="col-md-4 service-block">
                <div class="media" style="cursor: pointer;">
                  <a target="_blank" href="https://www.tokopedia.com/vapehan?source=universe&st=product" style="cursor: pointer;">
                  <img src="{{imgUrl}}/images/Banner-service2.png" class="shipping" alt="">
                  </a>
                </div>
            </div>
            <div class="col-md-4 service-block">
              <div class="media" style="cursor: pointer;">
                <img src="{{imgUrl}}/images/Banner-service3.png" class="shipping" alt="">
              </div>
            </div>
        </div>
    </section>
</div>
<!-- service layout  end -->
