<!-- breadcrumb start -->
<div class="breadcrumb-section" style="padding: 15px 0;">
    <div class="container-home">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2 style="text-transform: none;">How To Order</h2>
                </div>
            </div>
            <div class="col-sm-6">
              <!--
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/vapehan'">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About us</li>
                    </ol>
                </nav>
                -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- about section start -->
<section class="about-page  section-b-space" style="padding-top: 10px;">
    <div class="container-home">
        <div class="row">

            <div class="col-sm-12">
                <h4 style="text-align: center;">How To Order</h4>
                <div style="margin-bottom: 10px;"></div>
                <h4 style="margin-bottom: 7px; font-weight: 400;">Tata Cara Pembelian:</h4>
                <p>1. Pertama pilih produk atau item yang ingin anda beli.</p>
                <p>2. Jika anda sudah melakukan registrasi atau pendaftaran custumer di Vapehan maka anda tinggal mengklik add to cart, apabila anda belum melakukan registrasi atau pendaftaran di harapkan untuk melakukan hal tersebut terlebih dahulu.</p>
                <p>3. Setelah anda mengklik tombol add to cart maka item atau produk yang ada pilih akan masuk kedalam cart anda jadi pastikan item atau produk yang ada pilih serta jumlah yang ada inginkan sudah sesuai dengan yang anda inginkan, sehingga anda dapat melanjutkan ke tahap checkout.</p>
                <p>4. Pada tahap checkout pastikan alamat tujuan sudah sesuai dengan alamat anda karna alamat tujuan itu akan kami gunakan untuk mengirim barang yang anda akan beli.</p>
                <p>5. Setelah anda sudah memastikan alamat tujuan sudah sesuai dengan alamat anda yang sebenarnya, maka anda dapat memilih jenis pengiriman barang yang ada ingin dan akan muncul total pembayaran yang harus anda bayarkan, setelah itu anda dapat melanjutkan ke tahap pembayaran dengan meklik button Select Payment.</p>
                <p>6. Di halama pembayaran anda akan di redirect atau di arahkan ke dalam metode pembayaran Doku, di halaman itu anda dapat memilih jenis pembayaran yang anda ingin kan, dan kami harapkan anda juga mengikuti instruksi pembayaran yang sudah ada di halaman tersebut agar dapat menghindari kesalahan pembayaran.</p>
                <p>7. Setelah anda memilih metode pembayaran yang anda ingin kan, anda dapat melakukan pembayaran sesuai intruksi yang berada di halaman pembayaran, setelah anda melakukan sistem akan melakukan pengecekan atau verifikasi selama 10 menit namun apabila status order anda belum berubah anda dapat melakukan confirm payment secara manual dengan mengklik "Confirm Payment".</p>
            </div>
        </div>
    </div>
</section>
