<!-- breadcrumb start -->
<div class="breadcrumb-section" style="padding: 15px 0;">
    <div class="container-home">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2 style="text-transform: none;">Account</h2>
                </div>
            </div>
            <div class="col-sm-6">
              <!--
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/vapehan'">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="'/pages/login'">login</a></li>
                        <li class="breadcrumb-item active" aria-current="page">forget password</li>
                    </ol>
                </nav>
                -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="pwd-page">
    <div class="container-home" style="padding-top: 10px; margin-bottom: 15px;">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2 style="text-transform: none;">Forgot Password</h2>
                <app-auth-notice></app-auth-notice>
                <form class="theme-form" [formGroup]="forgetForm" (ngSubmit)="onSubmit()" autocomplete="off">
                    <div class="form-row">
                        <div class="col-md-12" >
                            <input type="text" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" id="email" formControlName="email" placeholder="Enter Your Email" required>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.email">Invalid Email Address</div>
                            </div>
                        </div>
                        <button class="btn btn-solid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->
